<p xmlns="http://www.w3.org/1999/html">
  question-show works!
</p>

<form (ngSubmit)="onSubmit(questionShow.form)" #questionShow="ngForm">
  <table>
    <tr>
      <td>
        <ul class="question">
          <li *ngFor="let question of questions; let i = index">
            <a>
              {{question.id}}{{question.questionText}}
              <label *ngFor="let t of typeList; let j = index">
                <input type="radio" class="form-control"
                       id="{{question.id}}" [(ngModel)]="questions[i].result"
                       name="{{question.id}}" value="{{j}}">
                {{t.name}}
              </label>
            </a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <!--Temporary html form element to demonstrate the [disabled] attribute on submit.-->
    <input type="number" required min="4" max="6" [(ngModel)]="myNum" #number="ngModel" name="number">
    <input type="submit" [disabled]="!questionShow.form.valid">
  </div>
</form>
